@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-color: rgb(40, 80, 139);
    --secondary-color: rgb(173, 216, 230);
    --text-color: white;
}

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

body {
    text-align: center;
    max-width: 60%;
    margin: auto;
}

header, footer, button, a {
    background-color: var(--primary-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
}

button {
    padding: 10px 12px;
    border-radius: 10px;
}

span {
    color: rgb(255, 98, 0);
}

header {
    display: flex;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: space-around
}

.links {
    margin: 0 10px;
}

.links:hover {
    transform: scale(1.15);
    transition: all 0.5s ease-in-out;
}

.active, .active a {
    background-color: black;
}

.intro img {
    width: 500px;
    height: 400px;
}

.intro {
    padding: 0 5em 2em 5em;
}

.technologies, .proj, .blog {
    padding: 2em;
}

.technologies h1, .proj h1, .blog h1 {
    padding-bottom: 1rem;
}

.mail:hover {
    color: black;
    transition: 0.5s;
}

footer {
    padding: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* ABOUT ME */

.top {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top img {
    width: 30%;
    height: 40%;
}

.top .self {
    width: 10%;
    height: 10%;
}

.top .name {
    text-align: right;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 1em;
    padding: 1em;
    /* border-radius: 15px; */
}

.grid > div {
    padding: 0.5rem;
    background-color: rgb(147, 228, 248);
    /* background-color: white; */
    align-self: center;
    border-radius: 10px;
}

.title {
    grid-column-start: 1;
    grid-column-end: 6;
}

.heading {
    font-size: large;
    font-weight: bolder;
}

#course {
    grid-template-columns: auto auto auto;
}

/* PROJECTS  */

.projects {
    text-align: left;
    padding: 0 5rem;
}

.project {
    padding-bottom: 30px;
    padding-top: 30px;
}

.date {
    background-color: var(--secondary-color);
    color: black;
    border-radius: 10px;
    padding: 10px;
    display: inline;
}

.desc {
    padding-top: 20px;
}

.attachments {
    text-align: center;
}