@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-color: rgb(40, 80, 139);
    --secondary-color: rgb(173, 216, 230);
    --text-color: white;
}

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

body {
    text-align: center;
    /* max-width: 60%;
    margin: auto; */
}

header, footer, a, button {
    background-color: var(--primary-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
}

button {
    padding: 0.5em 1em;
    margin: 0.5em;
    border-radius: 1em;
    font-size: 16;
}

span {
    color: rgb(255, 98, 0);
}

header {
    display: flex;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: space-around;
    align-items: center;
}

.links {
    padding: 0.5em 1em;
    margin: 0 0.5em;
    border-radius: 1em;
    border: .1em solid black;
}

.links:hover {
    transform: scale(1.15);
    transition: all 0.5s ease-in-out;
}

.active {
    background-color: black;
}

.intro {
    padding: 0 5em 2em 5em;
}

.intro img {
    width: 500px;
    height: 400px;
}

.technologies, .proj, .blog {
    padding: 2em;
}

.technologies h1, .proj h1, .blog h1 {
    padding-bottom: 1rem;
}

.mail:hover {
    color: black;
    transition: 0.5s;
}

footer {
    padding: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* PROJECTS  */

.projects {
    text-align: left;
    padding: 0 5rem;
}

.project {
    padding: 2em 15em;
    /* padding-bottom: 30px;
    padding-top: 30px; */
}

.date {
    background-color: var(--secondary-color);
    color: black;
    border-radius: 10px;
    padding: 10px;
    display: inline;
}

.desc {
    padding-top: 20px;
}

.attachments {
    text-align: center;
}